<div class="qui-header">
    <div class="qui-container">
        <div class="app-name">Quantum</div>
        <div class="portfolio-item-name">&nbsp;-&nbsp;{{ componentName }}</div>
    </div>
</div>
<div class="qui-container">
    <ul class="breadcrumbs">
        <li class="bc-item">Quantum</li>
        <li class="bc-sep"></li>
        <li class="bc-item">{{ pageName }}</li>
    </ul>
    <br>
    <div class="section-title">{{ componentName }}</div>
    <div class="new-email-card">
        <div class="header">
            <div class="qui-btn">Send</div>
            <div class="v-sep"></div>
        </div>
        <div class="sidebar">
            <app-email-sidebar></app-email-sidebar>
        </div>
        <div class="main-content">
            <new-email-form></new-email-form>
        </div>
    </div>
</div>
